nav {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px 16px 10px;
  border-bottom: 1px solid black;
}

.nav-section {
  display: flex;
  gap: 10px;
}

table {
  width: 100%;
  text-align: center;
  border: solid;
}
