ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.notification {
  background-color: lightgrey;
  border: solid 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.error {
  border-color: red;
  color: red;
}

.success {
  border-color: green;
  color: green;
}

.blog-container {
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.blog-toggle-btn {
  margin-left: 5px;
}